<!DOCTYPE html>

<title>Symericipe - Modification</title>

{% block header %}{% include "./navigation.html.twig" %}{% endblock %}

{% block body %}

<div class="container">

    <h1 class="mt-4 mb-4">Modification de l'ingrédient</h1>

    {% for message in app.flashes('success') %} <!-- Affiche le flash de addFlash de IngredientController -->
      <div class="alert alert-secondary mt-4">{{ message }}</div>
    {% endfor %}

    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        <div class="form-error">{{ form_errors(form.name) }}</div>
    </div>

    <div class="form-group">
        {{ form_label(form.price) }}
        {{ form_widget(form.price) }}
        <div class="form-error">{{ form_errors(form.price) }}</div>
    </div>

    <div class="form-group">
        {{ form_row(form.submit) }}
    </div>

    {{ form_rest(form) }}


</div>

{% endblock %}
